@model IEnumerable<Wildlife.Models.UserInfoViewModel>
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    <h4>Find by name or phone number:</h4>
    <p class="form-inline">
        @Html.TextBox("SearchString", "", new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @style = "float:right" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </th>
        @* pay no attention to these they are for spacing *@
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="border-top:2px solid black;">
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.User.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAdmin", new { id = item.User.Id })
            </td>
        </tr>
    }
</table>