@model Wildlife.Models.DriveInfoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Drive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriveName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartCountryRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartCountryRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartStateProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartStateProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndCountryRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndCountryRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndStateProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndStateProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriveDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriveDistance) miles
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriveDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriveDuration) mins
        </dd>
        @if (ViewBag.ShowTimes == true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.UserDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDistance) miles
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDuration) mins
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
