@model IEnumerable<Wildlife.Models.DriveInfoViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (ViewBag.displayMenu == "Admin")
{
    using (Html.BeginForm())
    {
        <h4>Find by City, Assigned Driver Email, House Number and Street:</h4>
        <p class="form-inline">
            @Html.TextBox("SearchString", "", new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-default" />
            @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default", @style = "float:right;margin-bottom:20px" })
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriveName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border-top:2px solid black;">
            <td>
                @Html.DisplayFor(modelItem => item.DriveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraDetails)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DriverId)
            </td>
            @if (ViewBag.displayMenu == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DriveId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DriveId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DriveId })
                </td>
            }
            else
            {
                <td>@Html.ActionLink("Details", "Details", new { id = item.DriveId })</td>
            }

        </tr>
        <tr style="border-bottom:2px solid black;display:contents;width:100%">
            <td>
                @Html.DisplayFor(modelItem => item.StartAddressLine1),
                @Html.DisplayFor(modelItem => item.StartCity)
                @*<h1 style="padding:0px;margin:0;display:inline-block;margin-block-start:0;margin-block-end:0;">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&rArr;
                    </h1>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAddressLine1)
                @Html.DisplayFor(modelItem => item.EndCity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriveDistance) miles
                @Html.DisplayFor(modelItem => item.DriveDuration) mins
            </td>
        </tr>
    }

</table>
